AIRFLOW_UID=50000 # Standard value

POSTGRES_USER=REPLACE_WITH_YOUR_OWN_VALUE # User for postgres
POSTGRES_PASSWORD=REPLACE_WITH_YOUR_OWN_VALUE # The password to connect into postgres
POSTGRES_DB=REPLACE_WITH_YOUR_OWN_VALUE # The database that airflow will be using, THIS IS NOT THE DB FOR THE PROJECT, THE PROJECT DB IS BEING SET UNDER airflow\scripts\create_banvic_db.sh

FERNET_KEY= # Exclude this line or generate with the python code below in another file

# from cryptography.fernet import Fernet

# fernet_key = Fernet.generate_key()
# print(fernet_key.decode())  # your fernet_key, keep it in secured place!

_AIRFLOW_WWW_USER_USERNAME=REPLACE_WITH_YOUR_OWN_VALUE # The user to log into airflow
_AIRFLOW_WWW_USER_PASSWORD=REPLACE_WITH_YOUR_OWN_VALUE # The password to log into airflow
